* {  
    box-sizing: border-box;  
    margin: 0;  
    padding: 0;  
}  

body {  
    font-family: Arial, sans-serif;  
    font-size: 16px;  
    line-height: 1.5;  
    color: #000000;  
    background-color: #000000;  
}  


header {  
    background-color: #6c1c1c;  
    color: #000000;  
    padding: 1em;  
    text-align: center;  
}  

header nav ul {  
    list-style: none;  
    margin: 0;  
    padding: 0;  
    display: flex;  
    justify-content: space-between;  
}  

header nav ul li {  
    margin-right: 20px;  
}  

header nav a {  
    color: #000000;  
    text-decoration: none;  
}  


.carousel {  
    display: flex;  
    flex-wrap: wrap;  
    justify-content: center;  
    margin: 2em 0;  
}  

.card {  
    background-color: #d82323b7;  
    border: 1px solid #ffffff;  
    border-radius: 10px;  
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);  
    margin: 20px;  
    padding: 20px;  
    width: calc(33.33% - 20px);  
    position: relative;  
}  

.card img {  
    width: 100%;  
    height: auto;  
    object-fit: cover;  
    border-radius: 10px 10px 0 0;  
}  

.card h3 {  
    font-size: 18px;  
    margin-top: 10px;  
}  

.card .sinopsis {  
    display: none;  
    background-color: #ffffff;  
    padding: 10px;  
    border: 1px solid #000000;  
    border-radius: 10px;  
    position: absolute;  
    top: 100%;  
    left: 0;  
    width: 100%;  
    z-index: 1;  
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);  
}  

.card:hover .sinopsis {  
    display: block;  
}  

.arrow-left, .arrow-right {  
    position: absolute;  
    top: 50%;  
    transform: translateY(-50%);  
    font-size: 24px;  
    cursor: pointer;  
}  

.arrow-left {  
    left: 20px;  
}  

.arrow-right {  
    right: 20px;  
}  


.offers-container {  
    display: flex;  
    flex-wrap: wrap;  
    justify-content: center;  
    margin: 2em 0;  
}  

.offer {  
    background-color: #8e1414;  
    border: 1px solid #ffffff;  
    border-radius: 20px;  
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);  
    margin: 20px;  
    padding: 20px;  
    width: calc(33.33% - 20px);  
}  

.offer h2 {  
    font-size: 18px;  
    margin-top: 10px;  
}  


footer {  
    background-color: #690a0a;  
    color: #000000;  
    padding: 1em;  
    text-align: center;  
    clear: both;  
    border-radius: 20px;  
}  



@media (max-width: 768px) {  
    .carousel {  
        width: 100%;  
    }  
    .card {  
        width: calc(50% - 20px);  
    }  
}  

@media (max-width: 480px) {  
    .carousel {  
        width: 100%;  
    }  
    .card {  
        width: calc(100% - 20px);  
    }  
} 
